  /* balance */
  :root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .header{
      font-size: 2em;
      display: flex;
      flex-direction: column;       
  }


  #balance{
      font-weight: bold;
  }

  h5{
      font-weight: 400;
      margin-bottom: 0;
  }

  h2{
      margin: 0;
  }
  /* income expense */
  .income-expense {
      display: flex;
      margin: 2rem 1rem;
      padding: 1rem;
      border-radius: 5px;
      justify-content: space-around;
      box-shadow: var(--box-shadow);
  }

  #money-plus {
      color: green;
  }

  #money-minus {
      color: red;
  }

  /* transactionlist */
  h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
  }
  ul{
      list-style: none;
      box-shadow: var(--box-shadow);
      padding: 0.8rem;
  }

  .btn:focus,
  .delete-btn:focus {
   outline: 0;
  }

  .list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
  }
  
  .list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  }

  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 53%;
    left: 0px;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .list li:hover .delete-btn {
    opacity: 1;
  }
  

  /* AddTransaction */
  input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.btn {
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 1em 0 3em;
    padding: 10px;
    width: 100%;
}